# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.production

# Build outputs
dist/
build/

# Uploads & runtime data
uploads/
audios/

# OS files
.DS_Store
Thumbs.db
